In [5]:
a = 123
print(a)

123

In [6]:
b = 'python'
print(b)

python

In [7]:
c = 1.24
print(c)

1.24

In [8]:
c = 'World'
print(c)

World

In [9]:
a = [1,2,3]
b = ['a','b','c']
c = [1, 'asd', 3]
print(a)
print(b)
print(c)

[1, 2, 3]
['a', 'b', 'c']
[1, 'asd', 3]

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
a =10
b=20
print(a+b)

30

In [3]:
## 리스트 myList 선언
myList=[]

## 200이상 301 미만의 수
for x in range(200,301):
    if x%7==0 and x%5!=0:
        myList.append(x)

for x in myList:
    print(x)

203
217
224
231
238
252
259
266
273
287
294

In [5]:
print(abs(-10)) # 절대값
print(max(1,2,3,4,5)) #최대값
print(min(1,2,3,4,5)) #최소값
print(pow(2,3)) #제곱
print(round(5.18)) #반올림
print(sum([1,2,3,4,5])) #합계
print(sum([],0)) #합게가 비어있을 경우 기본값을 출력
print(divmod(10,7)) #몫과 나머지

10
5
1
8
5
15
0
(1, 3)

In [6]:
from math import *
print(floor(5.678)) #버림
print(ceil(5.678)) #올림
print(sqrt(36)) #제곱근구하기

5
6
6.0

In [7]:
from random import *
print(random()) # 0.0~1.0 미만 랜덤 출력
print(random()*10) #0.0~10.0미만 랜덤 출력
print(int(random()*100)) #0~100미만 랜덤 출력
print(int(random()*100)+1) #1~100.0 미만 랜덤 출력
print(randrange(1,15)) #1~15미만 랜덤 출력
print(randrange(1,150)) # 1~150미만 랜덤 출력
print(randint(1,15)) # 1~15이하 랜덤 출력
print(randint(1,150)) # 1~150이하 랜덤 출력

0.33173958917237034
9.113316714926615
89
99
8
93
1
28

In [8]:
print("우리나리")
print('자랑스런')
print("대한민국"*6)

우리나리
자랑스런
대한민국대한민국대한민국대한민국대한민국대한민국

In [9]:
nation = "대한민국"
virus = "코로나"
month=9

print(virus+"가"+str(month)+"개월째 전세계를 뒤흔들고 있습니다.")
print(nation+"은"+virus+"로 부터 안전해지기 위해 최대한 노력을 하고 있습니다.")
print(nation+"에서"+virus+"를 물리쳐내기 위해 함께 노력 하시겠습니까?")

코로나가9개월째 전세계를 뒤흔들고 있습니다.
대한민국은코로나로 부터 안전해지기 위해 최대한 노력을 하고 있습니다.
대한민국에서코로나를 물리쳐내기 위해 함께 노력 하시겠습니까?

In [10]:
print(4>=3)
print(2>10)
print(7>=7)
print(5==5)
print(8==2)
print(2!=8)
print(3+2==5)

True
False
True
True
False
True
True

In [11]:
print((1>0) and (3==1+2))
print((1>0) & (3==1+2))

print((2>0) or (1==3))
print((2>0) | (1==3))

print(1<2<3)
print(1<2>3)

True
True
True
True
True
False

In [12]:
print(not(2!=8))
print(not(1+3!=4))
print(not(5==5))

False
True
False

In [13]:
str1='안녕하세요'
str2='파이썬을 공부하는 DBA입니다.'
print(str1)
print(str2)
str3="""안녕하세요.
저는 파이썬을 공부하는 DBA입니다."""
print(str3)
str4="""
안녕하세요.
저는 파이썬을 공부하는 DBA입니다.
"""

print(str4)

안녕하세요
파이썬을 공부하는 DBA입니다.
안녕하세요.
저는 파이썬을 공부하는 DBA입니다.

안녕하세요.
저는 파이썬을 공부하는 DBA입니다.

In [15]:
num="가나다라마"
print(num[2]) #num 변수의 2번지, 즉 세번째 문자 출력
print(num[4]) #num 변수의 4번지, 즉 다섯번째 문자 출력

birth_date = "19830319"
print("출생년도는" + birth_date[0:4] + "년 입니다.") #birth_date의 0번지 부터 4번지 직전까지를 출력
print("출생월은 " + birth_date[4:6] + "월 입니다.") #birth_date의 4번지 로부터 6번지 직전까지를 출력
print("출생일은 " + birth_date[6:8] + "일입니다.") #birth_date의 6번지 로부터 8번지 직전까지를 출력
print("저의 생년 월일은" + birth_date[:8] + " 입니다.") #birth_date의 처음부터 마지막 8번째 직전까지를 출력

다
마
출생년도는1983년 입니다.
출생월은 03월 입니다.
출생일은 19일입니다.
저의 생년 월일은19830319 입니다.

In [16]:
birth_date = "19830319"
print("출생년도는 " + birth_date[-8:-4] + "년 입니다.") #birth_date의 뒤에서 8번째 앞부터 뒤에서 4번째까지 출력
print("저의 생년월일은 " + birth_date[-8:] + " 입니다.") #birth_date의 뒤에서 8번쨰 로부터 마지막까지를 출력

출생년도는 1983년 입니다.
저의 생년월일은 19830319 입니다.

In [20]:
print("한일월드컵은 %d년에 개최 되었다." % 2020)
print("대한민국 축구대표팀 에이스는 %s선수이다." % "손흥민")
print("축구국가대표팀은 %c대표팀이라고 부른다." % "A")
print("저의 취미는 %s와 %s입니다." % ("축구","골프"))

한일월드컵은 2020년에 개최 되었다.
대한민국 축구대표팀 에이스는 손흥민선수이다.
축구국가대표팀은 A대표팀이라고 부른다.
저의 취미는 축구와 골프입니다.

In [24]:
print("저의 취미는 {}와 {} 입니다." .format("축구","골프"))
print("저의 취미는 {0}과 {1} 입니다." .format("축구","골프"))
print("저의 취미는 {1}와 {0} 입니다." .format("축구","골프"))
print("저의 취미는 {hb1}와 {hb2} 입니다." .format(hb1="축구",hb2="골프",hb3="당구"))
print("저의 취미는 {hb3}와 {hb2} 입니다." .format(hb1="축구",hb2="골프",hb3="당구"))

저의 취미는 축구와 골프 입니다.
저의 취미는 축구과 골프 입니다.
저의 취미는 골프와 축구 입니다.
저의 취미는 축구와 골프 입니다.
저의 취미는 당구와 골프 입니다.

In [25]:
hb1 = "골프"
hb2 = "당구"
print(f"저의 취미는 {hb1}와 {hb2} 입니다.")

저의 취미는 골프와 당구 입니다.

In [26]:
str_a = "Korea's technology is the best in the world."
print(str_a.lower()) #소문자로 바꾸기
print(str_a.upper()) #대문자로 바꾸기
print(str_a.replace("technology","football")) #문자열 치환하기
print(len(str_a)) #문자열 길이 출력
str_b = str_a.replace("technology", "football") #str_b에 str_a에서 치환한 결과를 저장하기
print(len(str_b)) #str_b의 문자열 길이 출력
print(str_b.index("the")) #str_b에서 the 문자열의 위치를 반환 받기
print(str_b.index("the",str_b.index("the") + 1)) #첫번째 str_b에서 i 문자열을 위치에서 다음 i의 위치를 반환하기
print(str_b.find("football")) # str_b에서 football 문자열을 찾아서 시작 위치를 반환 받기
print(str_a.find("football")) # str_a에서 football 문자열을 찾아서 시작 위치를 반환 받기
print(str_a.count("s"))

korea's technology is the best in the world.
KOREA'S TECHNOLOGY IS THE BEST IN THE WORLD.
Korea's football is the best in the world.
44
42
20
32
8
-1
3

In [27]:
print("aaa\nbbb") # \n 줄바꿈
print("aa\"an\"bb") # \"문자열 내부에서 "출력
print("aaa\rbbb") # \r 커서 위치를 문자열 가장 앞으로 변경
print("aaa\tbbb") # \t 탭을 삽입
print("aaa\bbbb") # \b 백스페이스를 삽입
print("C:\\Windows\\Fonts") # \\ 두번 입력 시 \로 출력

aaa
bbb
aa"an"bb
bbb
aaa	bbb
aaabbb
C:\Windows\Fonts

In [28]:
# 리스트 생성
my_hobby = ["골프","축구"]
my_number = [1,3,5,7,9,11]
my_profile = ["골프",70,False]
print(my_hobby)
print(my_number)
print(my_profile)

['골프', '축구']
[1, 3, 5, 7, 9, 11]
['골프', 70, False]

In [29]:
#리스트 인덱스 출력
print(my_hobby)
print(my_number)
print(my_hobby.index("축구"))
print(my_number.index(3))

['골프', '축구']
[1, 3, 5, 7, 9, 11]
1
1

In [30]:
my_hobby=["골프","축구"]
print(my_hobby)

my_hobby.append("자전거")
print(my_hobby)

# 리스트 추가2
my_hobby+=["독서","레고조립"] # + 연산자로 넣기
print(my_hobby)

['골프', '축구']
['골프', '축구', '자전거']
['골프', '축구', '자전거', '독서', '레고조립']

In [31]:
#리스트 중간 삽입
my_hobby.insert(1,"넷플릭스")
print(my_hobby)

my_hobby.insert(3,"넷플릭스")
print(my_hobby)

['골프', '넷플릭스', '축구', '자전거', '독서', '레고조립']
['골프', '넷플릭스', '축구', '넷플릭스', '자전거', '독서', '레고조립']

In [32]:
# my_hobby 리스트 출력
print(my_hobby)

# 리스트 가장 뒤쪽에서 하나 삭제
my_hobby.pop()
print(my_hobby)

# 리스트 인덱스를 이용하여 삭제
del my_hobby[4]
print(my_hobby)

# 리스트 데이터를 조회하여 삭제
del my_hobby[my_hobby.index("축구")]
print(my_hobby)

['골프', '넷플릭스', '축구', '넷플릭스', '자전거', '독서', '레고조립']
['골프', '넷플릭스', '축구', '넷플릭스', '자전거', '독서']
['골프', '넷플릭스', '축구', '넷플릭스', '독서']
['골프', '넷플릭스', '넷플릭스', '독서']

In [33]:
print(my_hobby)
print(my_hobby.count("넷플릭스"))
print(my_hobby.count("골프"))

['골프', '넷플릭스', '넷플릭스', '독서']
2
1

In [34]:
# 리스트내 데이터 정렬 하기
print(my_hobby)
my_hobby.sort() #오름차순 정렬
print(my_hobby)

my_hobby.sort(reverse=True) # 내림차순 정렬
print(my_hobby)

my_hobby.reverse() # 리스트내 데이터 순서 뒤집기 (정렬아님)
print(my_hobby)

['골프', '넷플릭스', '넷플릭스', '독서']
['골프', '넷플릭스', '넷플릭스', '독서']
['독서', '넷플릭스', '넷플릭스', '골프']
['골프', '넷플릭스', '넷플릭스', '독서']

In [35]:
# 리스트내 모든 데이터 삭제하기
print(my_hobby)
my_hobby.clear()
print(my_hobby)

['골프', '넷플릭스', '넷플릭스', '독서']
[]

In [36]:
my_list1=[1,2,3]
my_list2=["손흥민","차범근","박지성"]

print(my_list1)
print(my_list2)

#리스트 합치기
my_list1.extend(my_list2)
print(my_list1)

[1, 2, 3]
['손흥민', '차범근', '박지성']
[1, 2, 3, '손흥민', '차범근', '박지성']

In [37]:
class_num={1:"뽀로로",2:"에디",3:"크롬"}
print(class_num[2])
print(class_num[3])

print(class_num.get(1))
print(class_num.get(3))

에디
크롬
뽀로로
크롬

In [38]:
print(class_num[8])
print("python")

KeyError: 8

In [39]:
print(class_num.get(8)) #프로그램 종료되지 않고 none을 출력
print("python")

None
python

In [40]:
print(class_num.get(8,"로디")) #딕셔너리에 없는 key를 호출 시 기본값을 주어 none 대신 출력이 가능하게 할 수 있음
print(class_num.get(3,"로디")) #딕셔너리에 있는 key를 호출시에는 기본값을 출력되지 않고, key에 대응되는 value가 출력됨.
print("python")

로디
크롬
python

In [41]:
print(2 in class_num) #딕셔너리에 있는 키를 넣으면 true가 출력
print(7 in class_num) #딕셔너리에 없는 키를 넣으면 false가 출력

True
False

In [43]:
class_num = {"A":"뽀로로","B":"에디","C":"크롬"}
print(class_num.get("A"))
print(class_num.get("B"))
print(class_num)

class_num2 = {"AA001":"타요", "BB001":"로키","CC001":"가니"}
print(class_num2.get("AA001"))
print(class_num2.get("BB001"))
print(class_num2)

뽀로로
에디
{'A': '뽀로로', 'B': '에디', 'C': '크롬'}
타요
로키
{'AA001': '타요', 'BB001': '로키', 'CC001': '가니'}

In [44]:
print(class_num)
del class_num["C"]
print(class_num)

{'A': '뽀로로', 'B': '에디', 'C': '크롬'}
{'A': '뽀로로', 'B': '에디'}

In [45]:
print(class_num)
print(class_num.keys()) #key만 출력하기
print(class_num.values()) #value만 출력하기
print(class_num.items()) #모두 출력하기

{'A': '뽀로로', 'B': '에디'}
dict_keys(['A', 'B'])
dict_values(['뽀로로', '에디'])
dict_items([('A', '뽀로로'), ('B', '에디')])

In [46]:
class_num = {"A":["뽀로로","팽귄"],"B":["에디","사막여우"],"C":["크롬","공룡"]}
print(class_num)

{'A': ['뽀로로', '팽귄'], 'B': ['에디', '사막여우'], 'C': ['크롬', '공룡']}

In [48]:
class_num.clear()
print(class_num)

{}

In [50]:
class_num={"A":"뽀로로","A":"에디","C":"크롬"}
print(class_num)

{'A': '에디', 'C': '크롬'}

In [51]:
family = ("엄마","아빠","형","동생")
print(family)
print(family[2])

('엄마', '아빠', '형', '동생')
형

In [52]:
player="손흥민"
back_num=7
team="Tottenham Hotspur"

print(player,back_num,team)

손흥민 7 Tottenham Hotspur

In [53]:
(player,back_num,team) = ("손흥민",7,"Tottenham Hotspur")
print(player,back_num,team)
print(player,back_num)

손흥민 7 Tottenham Hotspur
손흥민 7

In [54]:
# 원소가 하나인 튜플 만들기
icecream = ("비비빅")
print(type(icecream))

#하나의 원소 뒤에 ,를 찍어서 튜플로 유지하기
icecream = ("비비빅",)
print(type(icecream))

<class 'str'>
<class 'tuple'>

In [56]:
#괄호 없이 튜플 선언하기
num_tuple = 1,2,3,4,5
print(type(num_tuple))
print(num_tuple)

str_tuple ="a","b"
print(type(str_tuple))
print(str_tuple)

<class 'tuple'>
(1, 2, 3, 4, 5)
<class 'tuple'>
('a', 'b')

In [57]:
#서로 다른 튜플 값 치환하기
tuple_a = ('에이',)
tuple_b = ('비',)

print(tuple_a)
print(tuple_b)

print(type(tuple_a))
print(type(tuple_b))

tuple_a,tuple_b = tuple_b, tuple_a

print(tuple_a)
print(tuple_b)

('에이',)
('비',)
<class 'tuple'>
<class 'tuple'>
('비',)
('에이',)

In [58]:
# set (세트,집합) 선언 방법
group_a = {"seoul","ulsan","deagu","daejeon","kwangju","busan"}
group_b = set(["deagu","busan","changwon"])

print(group_a)
print(group_b)

print(type(group_a))
print(type(group_b))

{'busan', 'daejeon', 'deagu', 'kwangju', 'seoul', 'ulsan'}
{'changwon', 'deagu', 'busan'}
<class 'set'>
<class 'set'>

In [59]:
#원소 확인
print("seoul" in group_a)
print("seoul" in group_b)

True
False

In [60]:
#원소추가
group_a = {"seoul","ulsan","deagu","daejeon","kwangju","busan"}
group_b = set(["deagu","busan","changwon"])

print(group_a)
group_a.add("incheon")
print(group_a)

print(group_b)
group_b.update(["kyungju","pohang"])
print(group_b)

{'busan', 'daejeon', 'deagu', 'kwangju', 'seoul', 'ulsan'}
{'busan', 'daejeon', 'deagu', 'kwangju', 'seoul', 'incheon', 'ulsan'}
{'changwon', 'deagu', 'busan'}
{'changwon', 'kyungju', 'pohang', 'busan', 'deagu'}

In [61]:
#원소삭제
group_b = set(["deagu","busan","changwon"])

print(group_b)
group_b.remove("changwon")
print(group_b)

{'changwon', 'deagu', 'busan'}
{'deagu', 'busan'}

In [62]:
#세트 복사
group_a = {"seoul","ulsan","deagu","deajeon","kwangju","busan"}
group_c = set(group_a)
print(group_c)
print(type(group_c))

{'busan', 'deagu', 'kwangju', 'seoul', 'deajeon', 'ulsan'}
<class 'set'>

In [63]:
#합집합
group_a = {"seoul","ulsan","deagu","deajeon","kwangju","busan"}
group_b = set(["daegu","busan","changwon"])

print(group_a)
print(group_b)

print(group_a | group_b)
print(group_a.union(group_b))

#차집합
print(group_a - group_b)
print(group_a.difference(group_b))

{'busan', 'deagu', 'kwangju', 'seoul', 'deajeon', 'ulsan'}
{'daegu', 'changwon', 'busan'}
{'daegu', 'changwon', 'kwangju', 'deajeon', 'busan', 'deagu', 'seoul', 'ulsan'}
{'daegu', 'changwon', 'kwangju', 'deajeon', 'busan', 'deagu', 'seoul', 'ulsan'}
{'kwangju', 'deajeon', 'deagu', 'seoul', 'ulsan'}
{'kwangju', 'deajeon', 'deagu', 'seoul', 'ulsan'}

In [64]:
#대칭차집합
group_a = {"seoul","ulsan","deagu","deajeon","kwangju","busan"}
group_b = set(["deagu","busan","changwon"])

print(group_a)
print(group_b)

print(group_a ^ group_b)
print(group_a.symmetric_difference(group_b))

{'busan', 'deagu', 'kwangju', 'seoul', 'deajeon', 'ulsan'}
{'changwon', 'deagu', 'busan'}
{'changwon', 'deajeon', 'kwangju', 'seoul', 'ulsan'}
{'changwon', 'deajeon', 'kwangju', 'seoul', 'ulsan'}

In [65]:
# 자료구조의 변경
my_tall = 180
print(my_tall)
print(type(my_tall)) # type이 int로 출력

my_tall = float(my_tall)
print(my_tall)
print(type(my_tall)) #type이 float로 출력

180
<class 'int'>
180.0
<class 'float'>

In [66]:
# 자료구조의 변경
number_a = '1.0e3'
print(number_a)
print(type(number_a)) #type이 str로 출력

number_a = float(number_a)
print(number_a)
print(type(number_a)) #type이 float로 출력

number_a = str(number_a)
print(number_a)
print(type(number_a)) #type이 str로 출력

1.0e3
<class 'str'>
1000.0
<class 'float'>
1000.0
<class 'str'>

In [67]:
# 내 취미 set 만들기
my_hobby = {"골프", "축구", "당구"}
print(my_hobby, type(my_hobby)) #type이 set로 출력되는 것을 확인

# set 자료형을 tuple 자료형으로 변경
my_hobby = tuple(my_hobby)
print(my_hobby, type(my_hobby))

{'골프', '당구', '축구'} <class 'set'>
('골프', '당구', '축구') <class 'tuple'>

In [68]:
# if 분기문의 기본 문법
nation = "korea"

if nation == "korea":
    print("안녕하세요!")
elif nation == "usa":
    print("hello!")
else:
    print("none")

안녕하세요!

In [71]:
nation = input("당신이 여행하는 나라는 어디입니까?")

if nation == "korea":
    print("안녕하세요!")
elif nation == "usa":
    print("Hello!")
else:
    print("none")

당신이 여행하는 나라는 어디입니까?korea
안녕하세요!

In [72]:
# if문 내에 논리 연산자 사용 문법
english = input("영어 과목의 학점은? (A,B,C 중 택 1)")
korean = input("국어 과목의 학점은? (A,B,C 중 택 1)")

if english == "A" and korean == "A":
    print("영어점수 : ", english, " 국어점수 : ", korean)
    print("두과목 모두 A")
elif english == "A" or korean == "A":
    print("영어점수 : ", english, " 국어점수 : ", korean)
    print("두과목 중 하나는 A")
else:
    print("영어점수 : " , english, " 국어점수 : ", korean)
    print("두과목 모두 A 아님")

영어 과목의 학점은? (A,B,C 중 택 1)A
국어 과목의 학점은? (A,B,C 중 택 1)B
영어점수 :  A  국어점수 :  B
두과목 중 하나는 A

In [73]:
# if문 내에 비교연산자 사용 문법
math=87

if math == 100:
    print("만점입니다!")
elif math >= 90:
    print("A학점 입니다.")
elif math > 79:
    print("B학점 입니다.")
elif math >69:
    print("C학점 입니다.")

B학점 입니다.

In [74]:
for my_ticket_no in [0,1,2,3,4]:
    print("티켓번호 : {0}" .format(my_ticket_no))

티켓번호 : 0
티켓번호 : 1
티켓번호 : 2
티켓번호 : 3
티켓번호 : 4

In [75]:
for my_ticket_no in range(5) :
    print("티켓번호 : {0}" .format(my_ticket_no))

티켓번호 : 0
티켓번호 : 1
티켓번호 : 2
티켓번호 : 3
티켓번호 : 4

In [76]:
for my_ticket_no in range(1,6):
    print("티켓번호 : {0}" .format(my_ticket_no))

티켓번호 : 1
티켓번호 : 2
티켓번호 : 3
티켓번호 : 4
티켓번호 : 5

In [77]:
place = ["광화문","청계천","노량진","국회의사당"]
for tour in place:
    print("{0}, 에 도착하였습니다." .format(tour))

광화문, 에 도착하였습니다.
청계천, 에 도착하였습니다.
노량진, 에 도착하였습니다.
국회의사당, 에 도착하였습니다.

In [79]:
for i in range(2,10): # i = 2 3 4 5 6 7 8 9
    print("\n")
    print("### {} 단 ###" .format(i))
    for j in range(1,10): # j = 1 2 3 4 5 6 7 8 9 
        print("{} X {} = {}" .format(i,j,j*i))

### 2 단 ###
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18


### 3 단 ###
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27


### 4 단 ###
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36


### 5 단 ###
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45


### 6 단 ###
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54


### 7 단 ###
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63


### 8 단 ###
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72


### 9 단 ###
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [83]:
i = 0 # 초기식
while i < 10: #while 조건식
    print('Hello, world!') # 반복할 코드
    i += 1 # 변화식

Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!
Hello, world!

In [84]:
#while
game_id = "stricky"
life = 3

while life > 0:
    print("{0} 님이 사망하였습니다. 생명은 {1}번 남았습니다!" .format(game_id, life-1))
    life -=1
    
    if life == 0:
        print("{0} 님 게임을 새로 시작하세요." .format(game_id))

stricky 님이 사망하였습니다. 생명은 2번 남았습니다!
stricky 님이 사망하였습니다. 생명은 1번 남았습니다!
stricky 님이 사망하였습니다. 생명은 0번 남았습니다!
stricky 님 게임을 새로 시작하세요.

In [85]:
# while 문을 이용한 간단한 숫자 맞추기 게임
lucky_num = 5
ipt_num = 0

while lucky_num != ipt_num:
    print("lucky numner를 입력해보세요!")
    ipt_num = int(input("입력하세요!"))
    
    if lucky_num == ipt_num:
        print("정답입니다!")

lucky numner를 입력해보세요!
입력하세요!1
lucky numner를 입력해보세요!
입력하세요!2
lucky numner를 입력해보세요!
입력하세요!3
lucky numner를 입력해보세요!
입력하세요!4
lucky numner를 입력해보세요!
입력하세요!5
정답입니다!

In [86]:
num=0

while 1:
    print(num)
    if num == 10:
        break
    num += 1

0
1
2
3
4
5
6
7
8
9
10

In [87]:
for num in range(1,15):
    if num%2 == 1:
        continue
    print("{0}은 짝수입니다." .format(num))

2은 짝수입니다.
4은 짝수입니다.
6은 짝수입니다.
8은 짝수입니다.
10은 짝수입니다.
12은 짝수입니다.
14은 짝수입니다.

In [89]:
for num in range(1,15):
    if num%2 == 0:
        continue
    print("{0}은 홀수입니다." .format(num))

1은 홀수입니다.
3은 홀수입니다.
5은 홀수입니다.
7은 홀수입니다.
9은 홀수입니다.
11은 홀수입니다.
13은 홀수입니다.

In [90]:
for num in range(1,15):
    if num%2 == 1:
        continue
    if num == 10:
        print("{0}까지만 하겠습니다." .format(num))
        break
    print("{0}은 짝수입니다." .format(num))

2은 짝수입니다.
4은 짝수입니다.
6은 짝수입니다.
8은 짝수입니다.
10까지만 하겠습니다.

In [91]:
#for문을 이용한 변수 생성 방법
num = [1,2,3,4,5,6,7,8,9,10]
print(num)

num10 = [i*10 for i in num]
print(num10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [92]:
#문자열 활용
city = ["Seoul", "Busan", "Naju", "Onyang", "Samchunpo"]
print(city)
city_len = [len(i) for i in city]
print(city_len)

city_swap = [i.swapcase() for i in city]
print(city_swap)

['Seoul', 'Busan', 'Naju', 'Onyang', 'Samchunpo']
[5, 5, 4, 6, 9]
['sEOUL', 'bUSAN', 'nAJU', 'oNYANG', 'sAMCHUNPO']

In [94]:
def new_fuction():
    print("이것은 새로운 함수입니다.")

new_fuction()

이것은 새로운 함수입니다.

In [95]:
#함수 매개변수 (파라미터)와 반환값
#구구단 함수
def gugu(num1, num2): #구구단
    result = num1 * num2
    print("입력한 두 수의 곱셈 결과는 {0}입니다." .format(result))
    return result

print(gugu(3,4))

입력한 두 수의 곱셈 결과는 12입니다.
12

In [98]:
#커피포인트 적립

cn1120 = 3 #고객번호 cn1120의 기존 포인트는 3이다

def coffee_point(cn1120, cups): #커피포인트 적립
    sum_point = cn1120 + cups
    print("고객님의 기존 포인트는 {0}점이며, 이번에 {1}점이 추가되었습니다." .format(cn1120, cups))
    print("최종 적립 포인트는 {0}점입니다." .format(sum_point))
    return sum_point

print(coffee_point(cn1120,5))

고객님의 기존 포인트는 3점이며, 이번에 5점이 추가되었습니다.
최종 적립 포인트는 8점입니다.
8

In [99]:
#커피포인트 사용
#예를들어 포인트 10개가 있으면 커피 한잔이 무료!

cn1121 = 14
def coffee_point_use(cn1121):#커피포인트 사용
    if cn1121 < 10:
        print("포인트가 부족합니다.")
        print("무료커피 획득까지 {0}점이 남았습니다." .format(10-cn1121))
        return cn1121
    else:
        cn1121 = cn1121 - 10
        print("커피 포인트 사용이 완료되었습니다.")
        print("잔여 포인트는 {0}점입니다." .format(cn1121))
        return cn1121
    
print(coffee_point_use(cn1121))

커피 포인트 사용이 완료되었습니다.
잔여 포인트는 4점입니다.
4

In [102]:
def coffee(menu,price=2000,type="ice"):
    print("메뉴 : {0}\t가격 : {1}\t유형 : {2}" .format(menu,price,type))
    
coffee("아메리카노")
coffee("라떼",2500,"hot")

메뉴 : 아메리카노	가격 : 2000	유형 : ice
메뉴 : 라떼	가격 : 2500	유형 : hot

In [103]:
#가변인자
def football(name,team,*position):
    print("이름: {0}\t소속팀 : {1}\t" .format(name,team), end="포지션 : ")
    for i in position:
        print(i,end=" ")
    print()

football("손흥민","EPL토트넘","CF","LW","RW")
football("유상철","대한민국","SW","CB","MF","FW")

이름: 손흥민	소속팀 : EPL토트넘	포지션 : CF LW RW
이름: 유상철	소속팀 : 대한민국	포지션 : SW CB MF FW

In [104]:
sum = 10
apple = "사과"

print(sum)
print(apple)

10
사과

In [109]:
#지역변수와 전역변수

life = 3

def game(death):
    life = 5
    life = life - death
    print("남은 생명은 {0}개 입니다!" .format(life))

print("남은 생명 : {0}" .format(life))
game(1) #한번 죽음

print("남은 생명 : {0}" .format(life))

남은 생명 : 3
남은 생명은 4개 입니다!
남은 생명 : 3

In [111]:
#지역변수와 전역변수

life = 3

def game(death):
    global life # 외부에서 선언한 변수를 전역변수로 씀
    life = life - death
    print("남은 생명은 {0}개 입니다." .format(life))

print("남은 생명 : {0}" .format(life))
game(1) #한번 죽음

print("남은 생명 : {0}" .format(life))

남은 생명 : 3
남은 생명은 2개 입니다.
남은 생명 : 2

In [112]:
#지역변수와 전역변수

life = 3

def game(life,death):
    life = life - death
    print("남은 생명은 {0}개 입니다!" .format(life))
    return life

print("남은 생명 : {0}" .format(life))
life = game(life,1) #한번 죽음

print("남은 생명 : {0}" .format(life))

남은 생명 : 3
남은 생명은 2개 입니다!
남은 생명 : 2

In [4]:
print("apple","potato","pear",sep=",")
print("apple","potato","pear",sep=" and ")
print("apple","potato","pear",sep=" / ")

apple,potato,pear
apple and potato and pear
apple / potato / pear

In [5]:
# 표준입출력 sep, end
print("apple","potato","pear", sep=",",end=" !!! ")

apple,potato,pear !!!

In [9]:
# for loop내 rjust, ljust
goals = {"2018년":9,"2019년":16,"2020년":20}
for year,goal in goals.items():
    print(year,goal)

for year,goal in goals.items():
    print(year.ljust(6), str(goal).rjust(3) + " 골 입니다.", sep = "의 총 득점은 : ")

2018년 9
2019년 16
2020년 20
2018년 의 총 득점은 :   9 골 입니다.
2019년 의 총 득점은 :  16 골 입니다.
2020년 의 총 득점은 :  20 골 입니다.

In [10]:
for seq in range(1,20):
    print("이번 순서는 " + str(seq).zfill(3) + " 입니다!")

이번 순서는 001 입니다!
이번 순서는 002 입니다!
이번 순서는 003 입니다!
이번 순서는 004 입니다!
이번 순서는 005 입니다!
이번 순서는 006 입니다!
이번 순서는 007 입니다!
이번 순서는 008 입니다!
이번 순서는 009 입니다!
이번 순서는 010 입니다!
이번 순서는 011 입니다!
이번 순서는 012 입니다!
이번 순서는 013 입니다!
이번 순서는 014 입니다!
이번 순서는 015 입니다!
이번 순서는 016 입니다!
이번 순서는 017 입니다!
이번 순서는 018 입니다!
이번 순서는 019 입니다!

In [11]:
# 총 5자리의 공간을 잡아두고 오른쪽 정렬하기
t_num = 12
print("{0:>5}" .format(t_num))

   12

In [12]:
# 위 조건에서 양수(+), 음수(-) 표시하기
t_num1 = 12
t_num2 = -12
print("{0: >+5}" .format(t_num1))
print("{0: >+5}" .format(t_num2))

  +12
  -12

In [16]:
# 왼쪽 정렬로 변경하고, 빈칸에 * 찍기
for seq in range(1,20):
    print("{0:*<5}".format(seq))

1****
2****
3****
4****
5****
6****
7****
8****
9****
10***
11***
12***
13***
14***
15***
16***
17***
18***
19***

In [17]:
# 금액표시 (세자리마다 , 표시) 하기
price = 12345678
print("{0:,}".format(price))

12,345,678